* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
 
  header {
    background-color: rgb(157, 186, 212);
    padding: 25px;
    text-align: left;
    font-size: 30px;
    color: black;
  }

  header img {
    float: right;
    height: 255px;
    width: 255px;
    vertical-align: middle;
  }

  header p{
    font-size: 25px;
    line-height: 25px;
  }
  
 
  section {
    display: -webkit-flex;
    display: flex;
  }
  
 
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }
  

  nav ul {
    list-style-type: none;
    padding: 5;
    letter-spacing: 1px;
    line-height: 50px;
    font-style: Cambria;
    font-size: 15px;
    position: relative;
    font-weight: bold;
    color:  darkblue;
  }
  

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  

  footer {
    background-color: rgb(158, 167, 172);
    padding: 10px;
    text-align: right;
    color: white;
    position: relative;
  }

  footer img {
    height: 75px;
    position: relative;
    margin-right: 80px;
  }

  footer p {
    letter-spacing: 1px;
    font-size: 15px;
    color: black;
    text-align: center;
  }
